@font-face {
  font-family: "Gotham Rounded";
  src: local("Gotham Rounded Book"),
    url("../font/GothamRoundedBook.woff") format("woff"),
    url("../font/GothamRoundedBook.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Rounded";
  src: local("Gotham Rounded Medium"),
    url("../font/GothamRoundedMedium.woff") format("woff"),
    url("../font/GothamRoundedMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Rounded";
  src: local("Gotham Rounded Medium Italic"),
    url("../font/GothamRounded-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gotham Rounded", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  font-size: 14px;
  color: #8c9398;

  width: 100%;
  min-width: 1180px;
}

a {
  text-decoration: none;
}

.section-summary {
  padding: 0;
  margin: 0;
  color: #353535;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.5px;
}

.subscription .section-summary {
  color: #ffffff;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.italics {
  font-style: italic;
}

.bold {
  color: #353535;
}

.container {
  width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.button {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
}

/*SOCIAL LINKS STYLE*/
 .social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

 .social-links a {
  display: inline-block;
  background-color: #242830;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

 .social-links .dribble {
  background-image: url(../images/dribble.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}

.social-links .twitter {
  background-image: url(../images/twitter.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.social-links .mail {
  background-image: url(../images/mail.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.social-links a:hover {
  background-color: #3dc9b3;
}

.social-links a:active,
.social-links a:focus {
  background-color: #309383;
}

/*HEADER STYLE*/
.header-main {
  background-image: url(../images/main_back.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 1180px;
  text-align: center;
}
.header-main .header-content {
  padding-top: 63px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation span {
  background-color: #242830;
  display: block;
  width: 28px;
  height: 4px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.menu-navigation {
  list-style: none;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.menu-navigation a {
  color: #353535;
  padding-right: 20px;
}

.menu-navigation a:hover {
  color: #3dc9b3;
}

.menu-navigation a:active
.menu-navigation a:focus  {
  color: #309383;
}

.lower-header {
  padding-top: 136px;
  padding-bottom: 342px;
}

.lower-header h1 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 12px;
  padding-bottom: 17px;
}

.lower-header p {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 2.5px;
  padding-bottom: 50px;
}

.lower-header .dark {
  color: #353535;
}

.lower-header .light {
  color: #a1a9b0;
}

.lower-header .button {
  display: inline-block;
  font-weight: 500;
  border: none;
  border-radius: 3%;
  background-color: #3dc9b3;
  letter-spacing: 2px;
  padding: 21px 37px;
  margin: 0 auto;

  box-shadow: 0px 3px 0px #309383;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
}

.lower-header .button:hover {
  background-color: #309383;
  color: #ffffff;
  transform: translateY(-10px);
}

.lower-header .button:active,
.lower-header .button:focus {
  background-color: #242830;
}

/*PORTFOLIO SECTION STYLE*/
.portfolio {
  width: 100%;
  min-width: 1180px;
  background-color: #f3f5f8;
  text-align: center;
  line-height: 30px;
}
.portfolio-content {
  padding-top: 100px;
}
.portfolio .section-summary {
  padding-bottom: 87px;
}
.portfolio p {
  padding: 0;
  margin: 0;
  padding-bottom: 120px;
  padding-left: 195px;
  padding-right: 195px;
}

/*SERVICES SECTION STYLE*/
.services {
  width: 100%;
  min-width: 1180px;
}

.services-content {
  padding-top: 98px;
  padding-bottom: 90px;
}

.services .section-summary {
  padding-bottom: 103px;
}

.services h3 {
  padding-top: 34px;
  padding-bottom: 37px;
  font-size: 15px;
  font-weight: 500;
  color: #353535;
  text-transform: uppercase;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-list li {
  width: 360px;
  min-height: 235px;
  margin-right: 30px;
  padding-bottom: 34px;
  text-align: center;
  position: relative;
}

.services-list li:nth-child(3n) {
  margin-right: 0px;
}

/*PROFESSIONALS*/
.professionals {
  width: 100%;
  min-width: 1180px;
}

.professionals-content {
  width: 785px;
  margin-left: 590px;
  padding-bottom: 215px;
  background-color: #ffffff;
}
.owl2 {
  width: 457px;
}

/*MOTTO*/
.motto {
  background-image: url(../images/motto.png);
  background-size: cover;
  text-align: center;
  position: relative;
}

.motto::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.motto-content {
  padding-top: 85px;
  z-index: 10;
  position: relative;
}

.motto-content p {
  padding: 0;
  margin: 0;
}

.first-line {
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 10px;
}

.second-line {
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 25px;
}

/*FEATURES SECTION STYLE*/
.features {
  width: 100%;
  min-width: 1180px;
  text-align: center;
}

.features-content {
  padding-top: 104px;
  padding-bottom: 142px;
}

.features .feature-item-text {
  padding-top: 26px;
}

.features h3 {
  padding-bottom: 30px;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 15px;
  color: #353535;
  text-transform: uppercase;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features .img-wrapper {
  position: relative;
}

.features .img-cover-content {
  padding-top: 74px;
}

.features .img-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(50, 145, 132, 0.6);
  opacity: 0;
  transition: all 0.2s ease;
}

.features .img-cover:hover {
  opacity: 1;
}

.features .img-cover a {
  text-transform: uppercase;
  color: #ffffff;
}

.features .img-cover a:hover {
  color: #242830;
}

.features .img-cover a:active,
.features .img-cover a:focus{
  color: #c8cbcf;
}

.features .features-sign {
  width: 30px;
  height: 27px;
}

/*ORDER SECTION STYLE*/
.order {
  width: 100%;
  min-width: 1180px;
  text-align: center;
  background-color: #242830;
}
.order a {
  display: inline-block;
  padding-top: 28px;
  padding-bottom: 26px;
  padding-right: 42px;
  padding-left: 38px;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 59px;
  background-color: #242830;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2%;

  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
}

.order a:hover {
  background-color: #ffffff;
  color: #242830;
  transform: translateY(-10px);
}

.order a:active,
.orser a:focus {
  border: 1px  #8c9398;
  background-color: #8c9398;
  
  color: #242830;
}

/*TEAM SECTION STYLE*/
.team {
  width: 100%;
  min-width: 1180px;
  text-align: center;
}
.team-content {
  padding-top: 85px;
}
.team-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.team-member {
  margin-right: 70px;
}

.team h3 {
  color: #353535;
  text-transform: uppercase;
}

/*SUBSCRIPTION SECTION STYLE*/
.subscription {
  width: 100%;
  min-width: 1180px;
  background-image: url(../images/subscription.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-color: rgb(36, 40, 48);
  position: relative;
}

.subscription .subscription-sign {
  width: 30px;
  height: 27px;
}

.subscription::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(36, 40, 48, 0.7);
}

.subscription-content {
  z-index: 10;
  position: relative;
}

.subscription .form-subscription button {
  background-color: #3dc9b3;
  border: none;

  width: 100px;
  height: 68px;
  font-family: "Gotham Rounded", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.subscription .form-subscription button:hover {
  background-color: #309383;
}

.subscription .form-subscription button:active,
.subscription .form-subscription button:focus {
  background-color: #242830;
}

.subscription .form-subscription input[placeholder] {
  font-family: "Gotham Rounded", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #ffffff;
}

.subscription .form-subscription input[type="email"] {
  width: 355px;
  height: 64px;
  background: transparent;
  border: 1px solid #ffffff;
}

/*CONTACTS SECTION STYLE*/
.contacts {
  width: 100%;
  min-width: 1180px;
  text-align: center;
  background-color: #f3f5f8;
}

.contacts .contact-sign {
  width: 30px;
  height: 27px;
  border: none;
}

.contacts-content {
  padding-bottom: 240px;
}

.contacts-item {
  background-color: #ffffff;
  width: 360px;
  height: 150px;
}

.contacts-name {
  color: #3dc9b3;
  padding-bottom: 29px;
  text-transform: uppercase;
}

.contacts ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contacts-list {
  display: flex;
  justify-content: space-around;
}

.contacts-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*FOOTER STYLE*/
.footer-main {
  font-weight: 400;
  width: 100%;
  min-width: 1180px;
  background-color: #242830;
}
.footer-links {
  padding-top: 52px;
  padding-bottom: 50px;
}
.footer-links a {
  color: #ffffff;
}

.footer-links a:hover {
  text-decoration: underline #ffffff;
  color: #ffffff;
}

.footer-links a:active
.footer-links a:focus {
  text-decoration: underline #8c9398;
  color: #8c9398;
}
