@font-face {
  font-family: "Gotham Rounded";
  src: local("Gotham Rounded Book"),
    url("../font/GothamRoundedBook.woff") format("woff"),
    url("../font/GothamRoundedBook.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Rounded";
  src: local("Gotham Rounded Medium"),
    url("../font/GothamRoundedMedium.woff") format("woff"),
    url("../font/GothamRoundedMedium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Rounded";
  src: local("Gotham Rounded Medium Italic"),
    url("../font/GothamRounded-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gotham Rounded", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  font-size: 14px;
  color: #8c9398;

  width: 100%;
  min-width: 1180px;
}

a {
  text-decoration: none;
}

.section-summary {
  padding: 0;
  margin: 0;
  color: #353535;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.5px;
}

.subscription .section-summary {
  color: #ffffff;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.italics {
  font-style: italic;
}

.bold {
  color: #353535;
}

.container {
  width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.button {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
}

/*HEADER STYLE*/
.header-main {
  background-image: url(../images/main_back.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 1180px;
  text-align: center;
}

.navigation {
  padding-top: 65px;
}

.menu-navigation a:hover {
  text-decoration: underline #3dc9b3;
  color: #3dc9b3;
}

.menu-navigation a:active {
  text-decoration: underline #309383;
  color: #309383;
}

.navigation span {
  background-color: #242830;
  display: block;
  width: 28px;
  height: 4px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.lower-header {
  padding-top: 148px;
  padding-bottom: 380px;
}

.lower-header h1 {
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 12px;
  padding-bottom: 6px;
}

.lower-header p {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 2.5px;
  padding-bottom: 48px;
}

.lower-header .dark {
  color: #353535;
}

.lower-header .light {
  color: #a1a9b0;
}

.menu-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.menu-navigation a {
  color: #353535;
}

.lower-header .button {
  display: inline-block;
  font-weight: 400;
  border: none;
  border-radius: 3%;
  background-color: #3dc9b3;
  letter-spacing: 2px;
  padding: 21px 37px;
  margin: 0 auto;

  box-shadow: 0px 8px 15px rgba(50, 158, 142, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
}

.lower-header .button:hover {
  background-color: #309383;
  color: #ffffff;
  transform: translateY(-10px);
}

.lower-header .button:active {
  background-color: #242830;
}

/*PORTFOLIO SECTION STYLE*/
.portfolio {
  width: 100%;
  min-width: 1180px;
  background-color: #f3f5f8;
  text-align: center;
  line-height: 30px;
}
.portfolio-content {
  padding-top: 83px;
}
.portfolio .section-summary {
  padding-bottom: 87px;
}
.portfolio p {
  padding: 0;
  margin: 0;
  padding-bottom: 120px;
  padding-left: 195px;
  padding-right: 195px;
}

/*SERVICES SECTION STYLE*/
.services {
  width: 100%;
  min-width: 1180px;
}

.services-content {
  padding-top: 100px;
}

.services .section-summary {
  padding-bottom: 103px;
}

.services h3 {
  padding-top: 34px;
  padding-bottom: 37px;
  font-size: 15px;
  font-weight: 400;
  color: #353535;
  text-transform: uppercase;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-list li {
  width: 360px;
  min-height: 235px;
  margin-right: 30px;
  padding-bottom: 30px;
  text-align: center;
  position: relative;
}

.services-list li::before {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  background: #3dc9b3;
  border-radius: 50%;
  margin: 0 auto;
}

.services-list li::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 48px;
  left: calc(50% - 25px);
}

.services-list .design::after {
  background: url(../images/icon1.svg);
}

.services-list .web::after {
  background: url(../images/letter.svg);
}

.services-list .heart::after {
  background: url(../images/icon3.svg);
}

.services-list li:nth-child(3n) {
  margin-right: 0px;
}

/*PROFESSIONALS*/
.professionals {
  width: 100%;
  min-width: 1180px;
  background-image: url(../images/iPhone.jpg);
  background-size: cover;
}

.professionals-content {
  width: 785px;
  margin-left: 750px;
  padding-bottom: 215px;
  background-color: #ffffff;
}
.owl2 {
  width: 457px;
}

/*MOTTO*/
.motto {
  background-image: url(../images/motto.png);
  background-size: cover;
  text-align: center;
  position: relative;
}

.motto-content p {
  padding: 0;
  margin: 0;
}

.motto::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.motto-content {
  padding-top: 82px;
  padding-bottom: 56px;
  z-index: 10;
  position: relative;
}

.first-line {
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 80px;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 10px;
}

.second-line {
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 25px;
}

/*FEATURES SECTION STYLE*/
.features {
  width: 100%;
  min-width: 1180px;
  text-align: center;
}
.features-content {
  padding-bottom: 180px;
}
.features h3 {
  font-weight: 400;
  font-size: 15px;
  color: #353535;
  text-transform: uppercase;
  line-height: 40px;
}
.features ul {
  padding-top: 104px;
  list-style: none;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
/*ORDER SECTION STYLE*/
.order {
  width: 100%;
  min-width: 1180px;
  text-align: center;
  background-color: #242830;
}
.order a {
  display: block;
  padding-top: 90px;
  padding-bottom: 98px;
  background-color: #242830;
  text-transform: uppercase;
  color: #ffffff;
}

/*TEAM SECTION STYLE*/
.team {
  width: 100%;
  min-width: 1180px;
  text-align: center;
}
.team-content {
  padding-bottom: 205px;
}
.team-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.team-member {
  margin-right: 70px;
}

.team-list .social-links {
  list-style: none;
}
.team h3 {
  color: #353535;
  text-transform: uppercase;
}

/*SUBSCRIPTION SECTION STYLE*/
.subscription {
  width: 100%;
  min-width: 1180px;
  background-image: url(../images/subscription.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-color: rgb(36, 40, 48);
  position: relative;
}
.subscription .section-summary {
  padding-top: 172px;
  padding-bottom: 48px;
}

.subscription::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(36, 40, 48, 0.7);
}

.subscription-content {
  z-index: 10;
  position: relative;
  padding-bottom: 154px;
}

.subscription .form-subscription button {
  background-color: #3dc9b3;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  width: 100px;
  height: 68px;
}

.subscription .form-subscription input[type="email"] {
  width: 355px;
  height: 64px;
  background: transparent;
  border: 1px solid #ffffff;
}

.subscription .form-subscription input[placeholder] {
  font-size: 20px;
  color: #ffffff;
}

/*CONTACTS SECTION STYLE*/
.contacts {
  width: 100%;
  min-width: 1180px;
  text-align: center;
  background-color: #f3f5f8;
}

.contacts-content {
  padding-bottom: 240px;
}

.contacts-item {
  background-color: #ffffff;
  width: 360px;
  height: 150px;
}
.contacts-name {
  color: #3dc9b3;
}

.contacts ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contacts-list {
  display: flex;
  justify-content: space-around;
}

.contacts-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-name {
  padding-bottom: 29px;
  text-transform: uppercase;
}

/*FOOTER STYLE*/
.footer-main {
  width: 100%;
  min-width: 1180px;
  background-color: #242830;
}
.footer-links {
  padding-top: 52px;
  padding-bottom: 50px;
}
.footer-links a {
  color: #ffffff;
}

.footer-links a:hover {
  text-decoration: underline #ffffff;
  color: #ffffff;
}

.footer-links a:active {
  text-decoration: underline #8c9398;
  color: #8c9398;
}
